[Unit]
Description=Dbus Launch Damnit
Requires=dbus.socket
After=dbus.socket

[Service]
Type=oneshot
ExecStart=/bin/sh -c "if [ -z \"$DBUS_SESSION_BUS_ADDRESS\" ] && type dbus-launch >/dev/null; then eval $(dbus-launch --sh-syntax --exit-with-session); fi"
RemainAfterExit=yes

[Install]
WantedBy=env.target
