[Unit]
Description=Exports X Info for cron
Requires=dbus.socket
After=gnome-keyring.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/home/grahjm2a/bin/export_x_info.sh

[Install]
WantedBy=mystuff.target
