[Unit]
Description=Exports X Info for cron
After=env.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/home/grahjm2a/bin/export_x_info.sh

[Install]
WantedBy=mystuff.target
