# http://comments.gmane.org/gmane.comp.sysutils.systemd.devel/8995

[Unit]
Description=Gnome Keyring Daemon
Requires=dbus.socket
Wants=env.target
Before=env.target
After=dbus.socket

[Service]
Type=oneshot
ExecStart=/bin/sh -c "for env in $( /usr/bin/gnome-keyring-daemon --start --components=gpg,pks11,secrets,ssh ); do /usr/bin/systemctl --user set-environment $env; done"
ExecStop=/bin/sh -c "for env in GNOME_KEYRING_PID GNOME_KEYRING_CONTROL SSH_AUTH_SOCK GPG_AGENT_INFO; do /usr/bin/systemctl --no-block --user unset-environment $env; done"
RemainAfterExit=yes

[Install]
WantedBy=env.target
