[Unit]
Description=Start offlineimap as a daemon

[Service]
Type=simple
EnvironmentFile=%h/.Xdbus
ExecStart=/usr/bin/offlineimap -u Quiet
Restart=always

[Install]
# TODO: Change this to run off of a timer
WantedBy=mystuff.target
