[Unit]
Description=Start offlineimap as a daemon

[Service]
Type=simple
EnvironmentFile=%h/.Xdbus
ExecStart=/usr/bin/offlineimap -u Quiet

[Install]
WantedBy=10_minute.timer
