[Unit]
Description=Window manager target
#Use only if not using a graphical login manager
#Wants=xorg.target
Wants=mystuff.target
Requires=dbus.socket
AllowIsolate=true

[Install]
Alias=default.target
