[Unit]
Description=xmodmap
# Only needed if not using a graphical login manager
#Requires=xorg.target
#After=xorg.target
Before=xmonad.service


[Service]
Type=oneshot
ExecStart=/usr/bin/xmodmap %h/.xmodmap

[Install]
WantedBy=mystuff.target
