[Unit]
Description=xrdb
# Only needed if not using a graphical login manager
#Requires=xorg.target
#After=xorg.target
Before=xmonad.service

[Service]
Type=oneshot
ExecStart=/usr/bin/xrdb -merge %h/.Xresources

[Install]
WantedBy=mystuff.target
