[Unit]
Description=xset
# Only needed if not using a graphical login manager
#Requires=xorg.target
#After=xorg.target
Before=xmonad.service

[Service]
Type=oneshot
ExecStart=/usr/bin/xsetroot -cursor_name left_ptr
ExecStart=/usr/bin/xset -dpms
ExecStart=/usr/bin/xset s 0 0

[Install]
WantedBy=mystuff.target
